gradio==4.44.0 
langchain==0.3.7 
langchain-groq==0.2.1 
langchain-community==0.3.7 
langchain-core==0.3.15 
langgraph==0.2.45 
chromadb==0.5.15 
langfuse==2.53.5 
ragas==0.2.5 
python-dotenv==1.0.1 
pydantic==2.9.2 
